<div id="simple_timer">


  {{!-- COUNTDOWN SECTION --}}

  <div class="countdown">

  <div class="timer"></div>


{{!-- REMINDER MAIL SECTION --}}

  <div class="reminder">
    <h1>REMINDER</h1>
    <div class="reminder_id_section">
      <h2>Reminder Id</h2>
      <div><input type="number" name="" id="reminder_id" /></div>
    </div>
    <div class="reminder_topic_section">
      <h2>Reminder Topic</h2>
      <div><input type="text" id="reminder_topic" /></div>
    </div>

    <div class="reminder_content_section">
      <h2>Reminder Content</h2>
      <div><textarea
          name=""
          id="reminder_content"
          cols="30"
          rows="10"
        ></textarea></div>
    </div>

    <div class="reminder_time">
      <h3>Remind Me At</h3>
      <div><select name="hour" id="reminder_hour">
          <option value="12">12</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>


        </select>
        <select name="minute" id="reminder_minute">
          <option value="00">00</option>
          


        </select>

        <select name="meridian" id="reminder_meridian">
          <option value="AM">AM</option>
          <option value="PM">PM</option>



        </select>
        </div>
    </div>

    <div class="reminder_email">
      <h3>Enter your Email</h3>
      <input type="email" name="" id="email">
    </div>
    <br>

    <div class="buttons">
      <button type="button" id="set_reminder">Set Reminder</button>
      <button type="button" id="update_reminder">Update Reminder</button>
      <button type="button" id="delete_reminder">Delete Reminder</button>
    </div>
  </div>



</div>


